* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
  }
  video {
    display: flex;
    width: 55%;
    padding-bottom: 10vh;
    justify-content: left;
    
  }
  video{
    -moz-transform:scale(1.75);
    -webkit-transform:scale(1.75);
    -o-transform:scale(1.75);
    -ms-transform:scale(1.75);
    transform:scale(1.75);
  }
  .form {
    width:420px;
    background: transparent;
    border: 2px solid white;
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
  .form h1 {
    -webkit-background-clip: text;
    font-size: 36px;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(
      to right,
      rgb(28, 222, 28),
      rgb(219, 12, 12)
    );
    color: transparent;
  }
  .form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 1.042vw 2.344vw 1.042vw 1.042vw;
  }
  .input-box input::placeholder {
    color: #fff;
  }
  .input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }
  .form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
  }
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  .form .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .btn:hover {
    text-decoration: underline;
  }
  .form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover {
    text-decoration: underline;
  }
  @media (max-width: 1000px) {
    video {
      display: none;
    }
    body {
      flex-direction: column;
      background-image: url(melon.png);
      background-repeat: no-repeat;
      padding-top: 20vh;
    }
    .form{
        backdrop-filter: blur(15px);
      }
  }

.gender-selector {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.gender-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.gender-option input[type="radio"] {
    display: none; 
}

.gender-option img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.gender-option span {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.gender-option input[value="male"]:checked + img {
    border: 5px solid blue;
     
}
.gender-option input[value="female"]:checked + img {
    border: 5px solid rgb(214, 64, 174);
     
}
.gender-option img:hover{
    width: 105px;
    height: 105px;
    transition: 0.3s ease-in-out;
    
}
